<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    <div style="background-color: #052270; color: #fff; text-align: center; padding: 20px;">
        <p>&copy; copyright bikram bhattarai</p>
        <p>Contact me </p>
    </div>
</body>
</html>
