<!DOCTYPE html>
<html lang="en">
  <head>
    <nav>
      <a href="/">Home</a>
      <a href="/">Note Management</a>
      <a href="/createNote">Add Note</a>
    </nav>
  </head>
  <style>
    nav {
      height: 5vh;
      padding: 30px;
      background-color: rgb(5, 5, 64);
      text-align: center;
    }
    a {
      list-style: none;
      text-decoration: none;
      /* font-size: 2rem; */
      margin-right: 70px;
      color: #fff;
    }
  </style>
  <body></body>
</html>
